*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    margin: 20px;
    font-size: 40px;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 20px;
    
}
.boxes{
    height: 250px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(238, 237, 237);
    margin-bottom: 10px;
} 
.container div{
    height: 470px;
}
img{
    width: 310px;
}
.boxes h2,h3,p{
    padding: 8px;
}
.RP{
    position: relative;
    left:190px ;
    bottom: 34px;
    color: #8b8989;
   text-decoration-line: line-through;
}
button{
    color: #b3a107;
    border: 1px solid #b3a107;
    height: 60px;
    width: 250px;
    text-align: center;
position: relative;
left: 530px;
    background-color: white;
    margin-top: 20px;
    font-size: large;
}

